BW6_EmployeeHiring_Portal/Service Descriptors/SendMessageService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://xmlns.example.com/20250531115859" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SendMessageService" targetNamespace="http://xmlns.example.com/20250531115859" xmlns:xsd1="http://www.example.org/RecruitingCandidate" xmlns:xsd2="http://www.example.org/Error">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified"
    	targetNamespace="http://xmlns.example.com/20250531115859">
    	<xsd:element name="operationRequest">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="in" type="xsd:string" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="operationResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="out" type="xsd:string" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="operationFault">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="fault" type="xsd:string" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="NewOperation">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="in" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="NewOperationResponse">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="out" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="operation">
    		<xsd:complexType>
    			<xsd:sequence>

    				<xsd:element name="in" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.example.org/RecruitingCandidate"
    		schemaLocation="../Schemas/RecruitingCandidate.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/Error"
    		schemaLocation="../Schemas/Error.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="operationRequest">
    <wsdl:part name="parameters" element="xsd1:Candidate-Details" />
  </wsdl:message>
  <wsdl:message name="operationResponse">
    <wsdl:part element="tns:operationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="operationFault">
    <wsdl:part name="parameters" type="xsd2:ErrorType" />
  </wsdl:message>
  <wsdl:message name="NewOperationRequest">
  	<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
  	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="operationRequest1">
  	<wsdl:part name="parameters" type="xsd1:Candidate-DetailsType"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Service">
    <wsdl:operation name="operation">
            <wsdl:input message="tns:operationRequest1"></wsdl:input>
            <wsdl:output message="tns:operationResponse" name="operationOutput"/>
      <wsdl:fault message="tns:operationFault" name="Fault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
