BW6_EmployeeHiring_Portal/Schemas/Error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Error" xmlns:tns="http://www.example.org/Error" elementFormDefault="qualified">

    <element name="ErrorMessage" type="tns:ErrorType"></element>

    <element name="Error" type="string"></element>

    <complexType name="ErrorType">
    	<sequence>
    		<element ref="tns:ErrorMessage"></element>
    	</sequence>
    </complexType>
</schema>