BW6_EmployeeHiring_Portal/Schemas/OnRollEmployee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/OnRollEmployee" xmlns:tns="http://www.example.org/OnRollEmployee" elementFormDefault="qualified">

    <element name="CandidateType" type="string"></element>

    <complexType name="OnRollEmployeeType">
    	<sequence>
    		<element ref="tns:CandidateType"></element>
    	</sequence>
    </complexType>

    <element name="OnRollEmployee" type="tns:OnRollEmployeeType"></element>
</schema>